---
layout: default
permalink: /search.html
---

{%- include common/rest/i18n.liquid -%}

<div class="search-results">
    <h2>{{ __.searching | default: "Searching"}}<span class="AnimatedEllipsis"></span></h2>
    <p class="summary"></p>
    <ul class="content pl-0"></ul>
</div>
